@import '../../../../shared/styles/colors';
@import '../../../../shared/styles/variable';

:host {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  width: 75%;
  margin: auto;
  transition: all 0.3s linear;
  @media screen and (max-width: $tablet-width) {
    width: 90%;
  }
}
.movie {
  &-settings {
    max-height: 0;
    transition: all 0.5s linear;
    overflow: hidden;
    position: relative;
  }
}

.open {
  max-height: 9rem;
  transition: all 0.5s linear;

}
.close {
  max-height: 0;
  transition: all 0.5s linear;
}
