@import "../../../shared/styles/colors";

.selector {
  &-arrow {
    position: absolute;
    transform: rotate(-90deg);
    z-index: 1;
    width: 3rem;
    right: 1rem;
    top: 0.4rem;
  }
  &-search {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 1.5rem;
    align-items: flex-start;
    border-radius: 0.75rem;
    background-color: $black2;
    border: 3px solid $black2;
    color: $white2;
    margin-bottom: 1rem;
    appearance: none;
    cursor: pointer;
  }
}
